.card {
  display: flex;
  background-color: #FFFFFF;
  justify-content: space-between;
  border-radius: 10px;
  padding: 1rem;
  height: 220px;
  font-size: .9rem;
  position: relative;

  .card__content {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  .addIcon {
    position: absolute;
    font-size: 2rem;
    bottom: 0;
    right: 0;

    &:hover {
      cursor: pointer;
      color: rgb(197, 144, 45);
    }
  }
}

.img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}